#root {
	width:600px;
	height:300px;
	background-color:red;
}
.menuTop {
	float:left;
	width:200px;
	height:50px;
	background-color:blue;
}
.menuPointCon {
	position:relative;
	display:none;
}
#one {
}
#two {
}
#three {
}
#oneX{
}
#twoX{
}
#threeX {
}
.menuTopHover {
	position:relative;
	width:200px;
	height:50px;
	color:white;
}
.menuPoint {
	position:relative;
	width:200px;
	height:50px;
	background-color:green;
	color:white;
}