#root {
	width:600px;
	background-color:red;
}
.resOuterCon {
	position:relative;
	float:left;
	width:200px;
	height:200px;
	background-color:blue;
}
.resInnerCon {
	position:relative;
	width:160px;
	height:160px;
	margin:0 auto;
	margin-top:20px;
	background-color:green;
}
.resImg {
	position:static;
	width:100%;
	height:110px;
	margin:0 auto;
	background-color:red;
}
.resOption {
	position:static;
	width:100%;
	height:50px;
	margin:0 auto;
	background-color:teal;
}