@CHARSET "ISO-8859-1";
div#resourcesRoot {
	position:relative;
	width:100%;
	height:50px;
	margin:0 auto;
}
div.resource {
	float:left;
	width:200px;
	height:50px;
	background-color:blue;
	text-align:center;
}