@CHARSET "ISO-8859-1";
.trOuterCon {
	position:relative;
	float:left;
	width:300px;
	height:300px;
	background-color:blue;
}
.trInnerCon {
	position:relative;
	width:200px;
	height:200px;
	margin:0 auto;
	margin-top:50px;
	color:white;
	background-color:green;
}
.trInputCon {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.trTextField {
	position:relative;
	float:left;
	width:50%;
	height:30px;
	background-color:red;
}
.trInputField {
	position:relative;
	float:left;
	width:50%;
	height:30px;
	border:0px;
	background-color:green;
}
.trOuterConOutput {
	position:relative;
	clear:both;
	display:none;
	width:100%;
	margin:0 auto;
	background-color:blue;
}
.trInnerConOutput{
	position:relative;
	width:80%;
	margin:0 auto;
	color:white;
	background-color:green;
}